@model Newtonsoft.Json.Linq.JToken

@{
    ViewBag.Title = "Currently Playing";
}

@section scripts {

<script src="@Href("~/scripts/jquery.signalr-0.5.3.js")"></script>
<script src="@(Playr.Web.Helpers.GetNotificationUrl() + "/signalr/hubs")"></script>
<script src="@Href("~/scripts/jquery.balloon.min.js")"></script>
    
<script>
    $(function () {
        playr.initMainPage(@Html.Raw(Model), "@Playr.Web.Helpers.BuildNotificationUrl()");


        $("#controls .play").click(function (event) {
            event.preventDefault();
            clearTimeout(playr.timer);
            $.ajax({url: '@Url.Action("PlayPause", "home")'});
        });

        $("#controls .previous").click(function (event) {
            event.preventDefault();
            $.ajax({url: '@Url.Action("Previous", "home")'});
        });

        $("#controls .next").click(function (event) {
            event.preventDefault();
            $.ajax({url: '@Url.Action("Next", "home")'});
        });

    });
</script>

<script>
    $(function () {
        $('html').filedrop({
            url: '@Url.Action("UploadFiles")',
            paramname: 'files',
            maxFiles: 5,
            maxfilesize: 512,
            uploadFinished: function (i, file, response, time) {
                alert(response);
            }
        });
    });
</script>

}


<section id="playing">
    <div class="left">
        <ol class="history" data-bind="foreach: History">
            <li>
                <img data-bind="attr: { src: $data.ArtworkUrl, title: $data.Title }"/>
                <div class="history-details">
                    <a data-bind="attr: { href: $data.AlbumDownloadUrl }" title="Download this album" ><img class="album-artwork" data-bind="attr: { src: $data.ArtworkUrl }" /></a>
                    <h2 data-bind="text: $data.Title"></h2>
                    <h3 data-bind="text: $data.Artist"></h3>
                </div>
            </li>
        </ol>
        <a data-bind="attr: { href: CurrentTrack().albumDownloadUrl }" title="Download this album" ><img class="album-artwork" data-bind="attr: { src: CurrentTrack().ArtworkUrl }"></a>
    </div>
    <div class="right clear-fix">
        <h1><a data-bind="text: CurrentTrack().Title, attr: { href: CurrentTrack().SongDownloadUrl }" title="download song"></a></h1>
        <h2 data-bind="text: CurrentTrack().Album"></h2>
        <h3 data-bind="text: CurrentTrack().Artist"></h3>
        <time data-bind="text: CurrentTrack().TimeRemaining()"></time>
        @if (Request.IsAuthenticated) {
        <div id="controls">
            <a class="favorite" data-bind="click: CurrentTrack().Favorite, css: { favorited: CurrentTrack().IsFavorite }">Favorite</a>
            <a class="previous">Previous</a>
            <a class="play">Play/Pause</a>
            <a class="next">Next</a>
        </div>
        }
    </div>
</section>

<section id="songs">
    <ol class="songs" data-bind="foreach: Queue">
        <li class="song">
            <a data-bind="attr: { href: $data.albumDownloadUrl }" title="Download this album" ><img class="album-artwork" data-bind="attr: { src: $data.ArtworkUrl }" /></a>
            <h2 data-bind="text: $data.Title"></h2>
            <h3 data-bind="text: $data.Artist"></h3>
        </li>
    </ol>
</section>