<section id="commandBar">
    <div class="header">
        @if (Request.IsAuthenticated) {
            @Html.ActionLink(User.Identity.Name, "Profile", "Account")
        } else { 
            
            @Html.ActionLink("Sign in", "Login", "Account")
        }
    </div>
    <div class="expanded">
        <nav>
            <ul>
             @if (Request.IsAuthenticated)
             {
                 <li>@Html.ActionLink("Upload", "Upload", "Home")</li>                
                 <li>@Html.ActionLink("Sign Out", "LogOff", "Account")</li>
             } else {
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
             }
             </ul>
        </nav>
    </div>
</section>




