<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Playr</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <a href="@Url.Action("index","home")" title="Playr Home" class="logo">▶ Playr</a>
            </div>
        </header>
        @Html.Partial("_CommandBar")    
        <div id="body" class="content-wrapper">
            @RenderBody()
        </div>
        <footer>
            <div class="content-wrapper">
                <p>Created by <a href="http://osbornm.com">Matthew M. Osborn</a>.</p>
                <p>Check out playr on <a href="http://github.com/osbornm/playr">github</a>.</p>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/ko")
        <script src="@Href("~/scripts/playr.js")"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
